body {
    box-sizing: border-box;
    font-family: sans-serif;
    /* background-color: black; */
}

.wrapper {
    margin: 0 auto;
    width: 1000px;
    padding-top: 100px;
}
.box {
    
    margin: 0 auto;
    width: 600px;
    height: 600px;
    background-color: rgb(0, 130, 190);
    border-radius: 50%;
    transition: transform 0.7s linear;
}
.box:hover {
    transform: scale(0.4);
}
.box-text {
    font-size: 45px;
    color: black;
    z-index: 55;
}