h1{
	color: #ff0000;
}
.logo{
	width: 150px;
}
.homework{
	margin-top: -10px;
	margin-bottom: 80px;
	display: inline-block;
	background-color: #0000ff;
	color: #fff;
}
.redtext{
	color: #ff0000;
}
h2{
	background-color: #008000;
	color: #fff;
}
.secondsubtitle{
	padding: 30px;
}
li{
	border: 1px solid #000;
	font-size: 20px;
}
.ican{
	margin-left: 100px;
	/*text-align: center;*/
}
