body {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	padding: 0;
	margin: 0;
}

div, p, input, button, form, span, a, ul, li {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 700;
}
p {
	line-height: 1.65em;
}

/* Начало */
.container {
	width: 1170px;
	margin: 0 auto;
}
.header {
	background-image: linear-gradient(to right bottom, #4dbcfc, #4ab7f8, #47b2f4, #45adf0, #42a8ec, #40a4e9, #3fa1e7, #3d9de4, #3b99e1, #3a96df, #3892dc, #378fd9);
	padding-top: 80px;
	padding-bottom: 80px;
	color: #fff;	
}
.wrapper { 
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.title {
	width: 560px;
	font-size: 37px;
	margin-bottom: 45px;
}
.title span {
	font-size: 59px;
	color: #ffd429;
}
.description {
	width: 400px;
	font-size: 16px;
	margin-bottom: 45px;
}
.move-btn {
	margin-left: 0;
	display: inline-block;
	width: 220px;
	padding: 23px 0 21px 0;
	background-color: #ffd429;
	font-family: 'Ubuntu', sans-serif;
	text-align: center;
	text-decoration: none;
	font-weight: 700;
	color: #2e2a1b;
	border-radius:	2px;
	transition: linear 0.2s ease-in;
}
.move-btn:hover {
	background-color: #ecbe04;
}
.ahead {
	margin-top: 80px;
	padding-bottom: 80px;
	text-align: center;	
}
.features {
	display: flex;
	justify-content: space-between;
	margin-top: 55px;
}
.features-title {
	font-size: 30px;
}
.features h3 {
	font-size: 19px;
}
.features p {
	font-weight: 700;
	font-size: 15px;
}
.all-features {
	width: 300px;
	background: url('../img/img1.png') no-repeat center top;
	padding-top: 80px;
}
.all-features2 {
	width: 300px;
	background: url('../img/img2.png') no-repeat center top;
	padding-top: 80px;
}
.all-features3 {
	width: 300px;
	background: url('../img/img3.png') no-repeat center top;
	padding-top: 80px;
}
.ticket {
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: #ecf3f8;
}
.ticket-title {
	font-size: 30px;
	text-align: center;
	margin-bottom: 55px;
}
.form-input {
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	width: 340px;
	height: 48px;
	margin-bottom: 15px;
	border: 1px solid #bbbbbb;
	border-radius: 2px;
	padding-left: 24px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 15px;
}
.form button {
	display: flex;
	justify-content: center;
	margin: 0 auto;
	width: 340px;
	border: none;
	cursor: pointer;
}
.footer {
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: #164d7a;
}
.footer-copyright {
	margin: 0px;
	font-size: 14px;
	text-align: center;
	color: #fff;
}


/* Responsive */

/* 992px - 1200px  */
@media screen and (max-width: 1200px) {
		.container {
			width: 960px;
		}
		.offer {
			padding-left: 45px;
		}
		.title {
			width: 100%;
		}
		.main-img {
			width: 500px;
		}
		.logo {
			margin-bottom: 30px;
		}
}
/* 768px - 992px */
@media screen and (max-width: 992px) {
		.header {
			padding-top: 35px;
			padding-bottom: 0;
		}
		.container {
			width: 720px;
		}
		.wrapper {
			flex-direction: column;
			align-items: center;
			text-align: center;
		}
		.offer {
			padding-left: 0;
		}
		.title {
			display: block;
			margin: 0 auto;
			margin-bottom: 20px;
		}
		.description {
			display: block;
			margin: 0 auto;
			margin-bottom: 20px;
		}
		.features {
			width: auto;
		}
		.features p {
			margin-bottom: 30px;
		}
}
/* 576px - 768px */
@media screen and (max-width: 768px) {
		.container {
			width: 540px
		}
		.features {
			flex-direction: column;
			align-items: center;
		}	
}
/* 320px - 576px */
@media screen and (max-width: 576px) {
		.container {
			width: 90%
		}
		.offer {
			width: 100%;
		}
		.title {
			width: 100%;
		}
		.description{
			width: 100%;
		}
		.move-btn {
			width: 100%;
		}
		.main-img {
			width: 100%;
		}
		.ahead {
			margin-top: 0;
			padding-bottom: 40px;
			padding-top: 40px;
		}
		.form-input {
			width: 100%;
			font-size: 14px;
		}
		.form button{
			width: 100%;
		}
		.placeholder {
			
		}
}
